.logo-text {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-100);
  color: var(--text-color-primary);
}

.title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-150);
  color: var(--text-color-primary);
}

.regular-text {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-100);
  color: var(--text-color-primary);
}

.label {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-100);
  color: var(--text-color-primary);
}

.input {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  color: var(--text-color-primary);
}

.button {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-100);
  color: #fff;
}

.error-message, .error {
  color: tomato;
}
